@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @* If you change it to ModelOnly, it will only show Model and not property related errors.
                If you change it to None, it wont show anything in the summary *@
                @* <div asp-validation-summary="All"></div> *@ @* <--- NOTE: This is not required because we already have individual validations set elsewhere *@
                @* Make all these "row" bootstrap classes to align with the bottom containers below. *@
                <div class="form-floating py-2 col-12">
                    @* The asp-for links the "name" property from the Category model.
                    NOTE: You dont need input "type" declaration in the input field
                    because it picks it up directly from the model.
                    NOTE: Label doesnt need
                    *@
                    <input asp-for="Name" class="form-control border-0 shadow">
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger"></span> @* Tag Validations for Errors! NOTE: go to model for custom error message. *@
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DisplayOrder" class="form-control border-0 shadow" />
                    <label asp-for="DisplayOrder" class="ms-2"></label>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    @* This will take a standard bootstrap width of 6 columns on regular, *@
                    @* but 3 columns on a medium to small size screen. This makes it a *@
                    @* responsive design. *@
                    <div class="col-6 col-md-3">
                        @* This button invokes the index controller for the table of categories. *@
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to list
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@* CLIENT SIDE VALIATION -> This will mean that any error message that is NOT custom
will be shown in the front end. *@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
