@model List<Category> // <-- This is the list recieved from CategoryController.cs, in typed format.

<h1>Category</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
           <th>
               Category Name
           </th>
           <th>
               Display Order
           </th>
       </tr>
    </thead>
    <tbody>
        @* This is how you retrieve the list and loop in C# *@
        @foreach(var obj in Model.OrderBy(u => u.DisplayOrder)) // <-- Here we are ordering the list by display order precendence.
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>