<body>
    <header>
        <h1>This is Category page</h1>
        <p>You will really like this page. You actually will not need to go anywhere else on the internet because all your problems will be solved today.</p>
    </header>
    <footer>
        Copyright peter mcgibney 2024
    </footer>
</body>