@if (TempData["success"] != null)
{
   //JQuery Library added
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   //CDN link on Toastr

}
@if (TempData["error"] != null)
{
    <h2>@TempData["error"]</h2>
}